* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  width: 50px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f7f3e9;
  text-align: center;
  padding: 10px;
}
input:focus, button:focus {
  outline: none;
}
body {
  font-family: 'Dela Gothic One';
  background-color: #f7f3e9;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
}
.insert {
  text-align: center;
  background-color: #9ddfd3;
  padding: 100px 0;
  justify-content: space-between;
}
.hero {
  display: flex;
  padding: 100px 20px;
  background-color: #31326f;
}

.hero__title {
  width: 50%;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  text-transform: uppercase; 
  color: white;
}
.hero__img {
  display: flex;
  width: 50%;
  justify-content: center;
}
.insert__text {
  padding: 20px 0;
}
.insert__x, .insert__y {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
.insert__button, .validate__button {
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: #ffc93c;
  font-family: 'Dela Gothic One';
}
.validate {
  display: flex;
  justify-content: center;
}
.instructions {
  max-width: 600px;
  text-align: center;
  font-size: 1rem;
  padding: 40px;
}
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  margin: 0 auto;
}
.table {
  margin: 0 auto;
}
.table-cell {
  border-collapse: collapse;
}
.validation {
  padding: 20px 0 100px 0;
  text-align: center;
}
