/* FONTS */
@font-face {
  font-family: 'Dela Gothic One';
  src: url('./fonts/DelaGothicOne-Regular.woff2') format('woff2'),
      url('./fonts/DelaGothicOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color:#E5E5E5;;
  text-align: center;
  padding: 10px;
}
input:focus, button:focus {
  outline: none;
}
body {
  font-family: 'Dela Gothic One';
  font-weight: normal;
  font-style: normal;
  background: url('./images/background.png') no-repeat center center/cover;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
}
.insert {
  text-align: center;
  padding: 42px 0;
  justify-content: space-between;
}
.hero {
  display: flex;
  padding: 150px 20px;
  justify-content: center;
}

.hero__title {
  font-size: 2rem;
  text-align: center;
  align-self: center;
  text-transform: uppercase; 
  color: #C0C0C0;
}
.insert__text {
  padding: 30px 0;
  color: #C0C0C0;
}
.insert__x, .insert__y {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
.insert__button, .validate__button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: #FCA311;
  font-family: 'Dela Gothic One';
  color: #14213D;
  margin-top: 18px
  
  ;
}
.validate {
  display: flex;
  justify-content: center;
}
.instructions {
  max-width: 600px;
  text-align: center;
  font-size: 1rem;
  padding: 0 40px;
  color: #C0C0C0;
}
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 50px 0;
  margin: 0 auto;
}
.table {
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
}
.table-cell {
  border-collapse: collapse;
}
.validation {
  padding: 20px 0 100px 0;
  text-align: center;
  color: #C0C0C0;
}
.validate {
  padding: 45px 0;
}
